.{
    padding:px;
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background: hsl(0, 6%, 90%);
}

.header{
    display: flex;
    flex-wrap: wrap;
    
}

.presentacion {
    font-size: 50px;
}

.btn-outline-success {
    color: aliceblue;
}

.img-fluid {
    margin-top: 125%;
    padding: 20px;
    height: 225px;
    width: 200px;
}

.presentacion {
    margin-top: 5%;
}

.cuerpo {
    min-width: 250px;
}


.imagenexp{
    height: 150px
}

.header{
    width: 100%;
    height: 400px;
    background: hsla(135, 46%, 55%, 0.458);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(261, 67%, 45%, 0.62), hsla(261, 61%, 69%, 0.601), hsla(135, 46%, 55%, 0.607)), url(img/tecnologiabyn.jpg);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(261, 67%, 45%, 0.605), hsla(261, 61%, 69%, 0.616), hsla(135, 46%, 55%, 0.604)), url(img/tecnologiabyn.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #ccc;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin 20px 0 0 0;
    color: #9e9797;
    cursor: pointer;
}
